In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
import re 
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get('https://tygiadola.net/LichSuGiaVang?date=17-04-2022')

In [14]:
ngay = driver.find_element(by = By.ID, value='date')
thongtingiavang = driver.find_elements(by = By.XPATH, 
                                      value="//div[@class='table-responsive']/table/tbody/tr")
giavang = {'Date': [], 'Type': [], 'Purchasing Price': [], 'Selling Price': []}
if len(thongtingiavang) > 0:
    for thongtin in thongtingiavang:
        if thongtin.get_attribute('class') =='':
            chitiets = thongtin.find_elements(by=By.TAG_NAME, value="td")
            if chitiets[0].text !='':
                giavang['Date'].append(ngay.get_attribute('value'))
                giavang['Type'].append(chitiets[0].text)
                Chitiet2 = thongtin.find_elements(by=By.CSS_SELECTOR, value = 'td.text-right')
#                 giamua = driver.execute_script("return arguments[0].firstChild.textcontent", 
#                                                chitiets[1])
#                 giavang['giamua'].append(giamua)
                giavang['Purchasing Price'].append(Chitiet2[0].text.replace(',','').replace('-',''))
              
#                 giaban = driver.execute_script("return arguments[0].firstChild.textcontent", 
#                                                chitiets[2])
#                 giavang['giaban'].append(giaban)
                giavang['Selling Price'].append(Chitiet2[1].text.replace(',','').replace('-',''))

In [15]:
df_giavang = pd.DataFrame(giavang)
df_giavang.head()

         Date                Type Purchasing Price Selling Price
0  17-04-2022       SJC HCM 1-10L           692000        698500
1  17-04-2022    Nhẫn 9999 1c->5c           559500        568500
2  17-04-2022  Vàng nữ trang 9999           556500        564500
3  17-04-2022   Vàng nữ trang 24K           545910        558910
4  17-04-2022   Vàng nữ trang 18K           404920        424920

In [17]:
df_giavang['Selling Price']

0       698500
1       568500
2       564500
3       558910
4       424920
5       330640
6       236920
7       698700
8       698700
9       698700
10      698700
11      698700
12      698800
13      698500
14      698500
15      698500
16      699000
17      698500
18      696500
19      697000
20      698000
21    69750100
22     6975050
23     6975050
24      695000
25      695000
26      696500
Name: Selling Price, dtype: object